/* Light Theme */
.stApp {
    background-color: #EFEFEF;
    color: #4A403A;
    font-weight: normal;
}

div.stChatMessage {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0.75rem;
    margin: 0.5rem 0;
    color: #333333 !important;
}

div.stChatMessage[data-testid="chat-message-human"] {
    background-color: #F5F5F5;
    color: #4A403A !important;
}

div.stChatMessage[data-testid="chat-message-ai"] {
    background-color: #FFFFFF;
    color: #2E4053 !important;
}
